.p404{
    height: 100vh;
    background-color: #FFFFFF;
}

ion-title{
    margin-top: 30%;
    color: #001B35;
    font-size: 4rem;
    
}

ion-button{
    color: #001B35;
   --border-color: #F2A516;
}