.exito{
    height: 100vh;
    background-color: #F2A516;
    color: #001B35;
    padding-top: 20%;
}
.exito img{
    padding-left: 35%;
}

.exito h3{
    padding-left: 20%;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.exito p{
    margin-left: 29%;
    padding-left: 4%;
}

ion-button{
    --background:#001B35;
    color: #F2A516;
    padding-top: 1%;
    padding-left: 30%;
}