ion-content{
    --background: #FFFFFF;
}
ion-header{
    background-color: #001B35;
}

ion-icon{
    font-size: 1.2rem;
}
p{
    margin: 8%;
    color: #001B35;
}

img{
    width: 70%;
    margin-top: 8%;
    margin-left: 15%;  
}